<% layout('/layouts/boilerplate')%>
<h2>Edit Villa <%=olist.title%></h2>
<form method="post" action="/listings/<%=olist._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input type="text" name="listing[title]" value="<%=olist.title%>" class="form-control" required>
        <div class="valid-feedback">Great Title</div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea name="listing[description]" class="form-control" required><%= olist.description %></textarea>
        <div class="invalid-feedback">Enter Valid Desc</div>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">price</label>
        <input type="number" name="listing[price]" value="<%=olist.price%>" class="form-control" required>
        <div class="invalid-feedback">Enter Valid Price</div>
    </div>
    <div class="row">
        <div class="mb-3 col-4">
            <label for="country" class="form-label">country</label>
            <input type="text" name="listing[country]" value="<%=olist.country%>" class="form-control" required>
            <div class="invalid-feedback">Enter Valid Country</div>
        </div>
        <div class="mb-3 col-8">
            <label for="location" class="form-label">location</label>
            <input type="text" name="listing[location]" value="<%=olist.location%>" class="form-control" required>
            <div class="invalid-feedback">Enter Valid Location</div>
        </div>
    </div>
    Listing Image<br/>
    <img src="<%=originalImageUrl%>">
    <div class="mb-3">
        <label for="image" class="form-label">Upload New Image File</label>
        <input type="file" name="listing[image]" value="<%=olist.image%>" class="form-control">
    </div>
    
<div style="display: flex; justify-content: center;">
  <button class="btn btn-dark edit-btn">Edit</button>
</div>

</form>
